@model oefMotoGP.ViewModel.SelectRaceViewModel
@{
    ViewData["Title"] = "Races";
    ViewData["bannerNaam"] = "bannerRaces.jpg";
    ViewData["pageTitle"] = "Races";
    string imgSrc = "";
    if (Model.SelectedRace != null)
    {
        imgSrc = @"/images/races/" + @Model.SelectedRace.RaceID + ".jpg";
    }

}

<form asp-method="SelectRace">
    <select asp-for="RaceID" asp-items="Model.Races" onchange="this.form.submit()">
        <option value="0"> -Select a Race- </option>
    </select>
</form>



@if (Model.SelectedRace != null)
{
    <table>
        <tr>
            <td>
                <img src="@imgSrc" />
            </td>
            <td>
                <p>
                    @Model.SelectedRace.Name - @Model.SelectedRace.Country <br />
                    Length: @Model.SelectedRace.Length m <br />
                    Date : @Model.SelectedRace.Date.ToString("dd/MM/yyyy")
                </p>
                <p>
                    @Model.SelectedRace.Description
                </p>
            </td>
        </tr>
    </table>

}

<a asp-controller="Info" asp-action="ListRaces">Back</a>
